/*
Project Name: Portfolio Site
Client: Self
Author: Sara Vogl
Developer: ""
*/
 
/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: black;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  background: white;
  letter-spacing: 1px;
  font-family:'Roboto', sans-serif;
}

h1, 
h2,
nav,
footer {
  font-family:'Josefin Slab', serif;
}

nav {
  /*margin-top: 4%;*/
  font-weight: 100;
  margin-bottom: 4%;
  border-radius: 400px;
  background: rgba(0,0,0,1);
}

nav ul {
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 30px;
  list-style-type: none;
  margin-top: 0;

}

nav li {
  font-size: 25px;
  padding-right: 8%;
  display: inline-block;
  text-decoration: none;
}

nav li:last-of-type {
  padding-right: 0%;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(153,204,255);
}

nav span {
  font-weight: 600;
}



footer {
  margin: 0;
  font-size: 25px;
  padding-top: 3%;
  font-weight: 100;
  padding-bottom: 3%;
  text-align: center;
  background: rgb(250,218,221);
}

footer span {
  font-weight: 600;
}

footer ul {
  font-size: 16px;
}

h2 {
  margin-top: 0;
  padding-top: 10%;
  font-size: 50px;
  font-weight: 100;
}

h2 span {
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 80px;
  font-weight: 700;
  padding-top: 10%;
}

h1 span {
  font-weight: 100;
}

main p {
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 1%;
}

a {
  color: rgb(0,0,255);
}

form {
  padding-bottom: 10%;
}

input, 
textarea {
  color: black;
}


/******************************************
/* SOCIAL MEDIA BUTTONS
/*******************************************/

/*@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');*/

a, a:hover {
    text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li{
    margin: 0;
    padding: 5px;
    padding-top: 50px;
}

.socialbtns li {
    display: inline-block;
    list-style: none outside none;
}

.socialbtns .fa {
    color: #FFF;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #000;
    -moz-border-radius: 20px;
    transition: all ease 0.5s;
    -webkit-border-radius: 20px;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
    transition: all ease 0.5s;
    transform: scale(1.2,1.2);
    -o-transition: all ease 0.5s;
    -o-transform: scale(1.2,1.2);
    -moz-transition: all ease 0.5s;
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition: all ease 0.5s;
}

 .home .socialbtns {
  padding-bottom: 20%;
}

footer .socialbtns {
  padding-top: 0px;
}

footer .socialbtns ul {
  padding-top: 0px
}

/******************************************
/* CLASSES
/*******************************************/

.home {
   text-align: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../images/nyc.jpg");
   background-attachment: fixed;
}

.menu {
  width: 70%;
  margin-left: 15%;
  margin-right: 50%;
  position: absolute;
}

.about-me {
  margin-top: 0px;
  background: rgb(250,218,221);
}

.about-me p:last-of-type {
  padding-bottom: 10%;
}

.life-work {
    position: relative;
    color: rgb(255,255,255);
    background: rgb(0,0,0);
    overflow: hidden;
}

.life-work:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url("../images/friends.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.life-work h2 p {
    z-index: 2;
    position: relative;
    color: rgb(255,255,255);
} 

.life-work p:last-of-type {
  padding-bottom: 25%;
}

.life-work a {
  color: rgb(102,153,204);
  text-decoration: underline;
}

.lets-dance {
  background: rgb(250,218,221);
}

.lets-dance p:last-of-type {
  padding-bottom: 10%;
}

.lets-dance a {
  color: rgb(0,0,0);
  text-decoration: underline;
}

.say-hello {
    position: relative;
    color: rgb(255,255,255);
    background: rgb(0,0,0);
    overflow: hidden;
}

.say-hello-content {
  position: relative;
  z-index: 10;
}

.overlay {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.15;
    background-image: url("../images/chris_sara.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.say-hello h2 p {
    z-index: 2;
    position: relative;
    color: rgb(255,255,255);
} 

.say-hello p:last-of-type {
  margin-top: 0;
  padding-bottom: 3%;
}

.section-padding {
  padding: 0 5%;
}

/******************************************
/* SCROLL BACK-TO-TOP BUTTON
/*******************************************/

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: rgb(0,0,0) url("../images/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

a.back-to-top:hover {
  background: rgb(105,105,105) url("../images/up-arrow.png") no-repeat center 43%;
  border: rgb(0,0,0);
}

/******************************************
/* CONTACT FORM
/*******************************************/

form {
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 1em;
  display: block;
  margin: 0 0 1em;
  max-width: 100%;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #00BD8D;
}

label {
  display: block;
  margin: .5em 0;
}

input[type=submit] {
  color: #fff;
  border: none;
  padding: 1em;
  font-weight: 700;
  margin-top: 20px;
  background: rgb(153,204,255);
  text-transform: uppercase;
  transition: background .2s ease-out;
}

input[type=submit]:hover {
  background: rgb(102,153,204);
}

/******************************************
/* PARSLEY EROR MESSAGE
/*******************************************/

.parsley-error,
.parsley-error:focus {
  border-color: #EC2B00;
}

.parsley-errors-list {
  padding: 1em;
  display: none;
  margin: -1em 0 1em;
  background: rgb(105,105,105);
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list li {
  list-style: none;
}


/******************************************
/* FIXED MENU
/*******************************************/

.fixed {
    position:fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    margin-left: 0%;
}


/******************************************
/* THANKS PAGE
/*******************************************/

.thanks-page {
  background: rgb(250,218,221);
  text-align: center;
}

.thanks-page h1 {
  font-weight: 300;
}

.thanks-page span {
  font-weight: 700;
}

.thanks-page footer {
  padding-bottom: 250px;
  padding-top: 15%;
}




